
a.mrkread { background: url(../images/sv-icon_file-fresh.png) no-repeat; display: block; width: 27px; height: 35px; margin: auto }
a.newest { background: url(../images/note.png) no-repeat left center; padding-left: 17px }
a.topbutton { background: url(../images/new-topic.png) no-repeat left center; display: block; height: 35px; padding-left: 35px; line-height: 32px }

/* ~~~~ forum-body (start) ~~~~ */
/* ~~~~ ---- forum_header (start) ~~~~ */
.sv-forum_header { height: 43px; padding :0 350px 0 0; margin :0 0 0 0; position :relative; z-index :2; line-height :43px; color :#ffffd9 !important; font-family :Verdana,Geneva,Arial,Helvetica,sans-serif }
.sv-forum_header h2 { color: #FFFFD9; line-height: 42px }
.sv-forum_header h2 a { color: #FFFFD9; text-decoration: none }
.sv-wiki-header { padding: 0 231px 0 0 }
.sv-forum_header .sv-left_bg { height: 43px; background: url(../images/panel.png) no-repeat; margin: 0 0 -5px 0 }
.sv-forum_header .sv-right_bg { float: right; margin: -38px -350px -5px 0; height: 43px; width: 350px; background: url(../images/panel.png) no-repeat right; font-family: Arial,Helvetica,sans-serif; font-size: 10px }
.sv-wiki-header .sv-right_bg { width: 231px; margin: -38px -231px -5px 0; }
.sv-forum_header h2 { font-weight: normal; font-size: 18px; margin: 0 0 0 20px; overflow: hidden; height :43px }
.sv-forum_header .sv-last_msg { float: left; width: 137px; padding: 0 25px 0 0; text-align: right }
.sv-forum_header .sv-answers { float: left; width: 70px; text-align: center }
.sv-forum_header .sv-views { float: left; width: 106px; text-align: center }
/* ~~~~ ---- forum_header (end) ~~~~ */
.sv-table_container { padding: 0 9px; }
table.sv-forum_body { width: 100%; margin: -5px 0 -5px 0; border-collapse: collapse; font-family: Verdana,Geneva,Arial,Helvetica,sans-serif; text-align: left }
table.sv-forum_body tr td { border: 1px solid #d6dbcf }
table.sv-forum_body tr td.sv-icon_col { width: 70px; background: center no-repeat; border-right :none; text-align: center; vertical-align: middle }
table.sv-forum_body tr td.sv-main_col { padding: 5px 0 7px 0; border-left: none; border-right: none }
table.sv-wiki-body tr td.sv-main_col { border: 1px solid #d6dbcf; padding-left: 10px }
table.sv-forum_body tr td.sv-main_col h3 { font-size: 16px; font-weight: 100; margin-bottom: 3px; }
table.sv-wiki-body tr td.sv-main_col h3 { margin: 1px 0 }
table.sv-forum_body tr td.sv-main_col p.sv-details,
table.sv-forum_body tr td.sv-main_col .sv-sections { margin: 2px 0; font-family: Arial,Helvetica,sans-serif; font-size: 10px }
table.sv-forum_body tr td.sv-main_col .sv-sections .strong { font-weight:bold; }
table.sv-forum_body tr td.sv-main_col .sv-sections ul,
table.sv-forum_body tr td.sv-main_col .sv-sections li { display:inline; }
table.sv-forum_body tr td.sv-last_msg { border-left: none; text-align: right; padding: 0 25px 0 0; vertical-align: middle }
table.sv-forum_body tr td.sv-weight { border-left: none; text-align: center; vertical-align: middle; width: 60px }
.sv-link_to_msg { background: url(../images/sv-icon_link.png) no-repeat; display: inline-block; width: 16px; height: 9px; outline: none; _float: right }
table.sv-forum_body tr td.sv-last_msg .sv-subj { font-weight: bold; font-size: 11px; letter-spacing: 1px; font-family: Tahoma,Verdana,Arial,Helvetica,sans-serif }
table.sv-forum_body tr td.sv-last_msg .sv-author,
table.sv-forum_body tr td.sv-last_msg .sv-date { font-size: 11px; }
table.sv-forum_body tr td.sv-answers { width: 70px; font-family :Arial,Helvetica,sans-serif; font-size: 14px; text-align: center; vertical-align: middle }
table.sv-forum_body tr td.sv-views { width: 106px; font-family :Arial,Helvetica,sans-serif; font-size: 14px; text-align: center; vertical-align: middle }
.sv-shadow { height: 19px; margin: 5px 15px -5px 15px; background: url(../images/shadow.png) no-repeat center top }
/* ~~~~ forum-body (begin) ~~~~ */
/* ~~~~ forum_stats (begin) ~~~~ */
.sv-forum_stats { font-family :Verdana,Geneva,Arial,Helvetica,sans-serif; color :#323232; margin :30px 0 0 0; padding :0 20px; }
.sv-forum_stats h2 { font-weight :normal; font-size :24px; margin :0 0 10px 0; }
.sv-forum_stats .sv-now { font-size :13px; display :block; }
.sv-forum_stats .sv-small { font-size :10px; display :block; }
.sv-forum_stats .sv-now .sv-count { font-weight :bold; font-size :14px; }
.sv-forum_stats .sv-topics { padding :8px 0 10px 60px; background :url(../images/forum-stats.png) no-repeat 10px 0px; }
.sv-forum_stats.right { float: right; text-align: right; }
.sv-forum_stats.right .sv-small { font-size :9px; }
.sv-forum_stats.right a { color: #323232; }
/* ~~~~ forum_stats (end) ~~~~ */
.sv-forum-block { width:100%; float:left}
/* ~~~~ clearfix ~~~~ */
.clear_fix:after { content: '.'; display: block; height: 0; clear: both; visibility: hidden }
* html .clear_fix { height: 1% }
.clear_fix { display: block }
.clear { float: none; clear: both }